.search {
  margin-bottom: 30px;
  padding: 0.5rem 1rem;
  width: 250px;
  -webkit-appearance: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.5;
  transition: outline 300ms ease-in-out;
}

.search:hover {
  border: none;
  outline: 3px dashed #6dd5ed;
}
